python-dotenv
gradio>=5.0.0
pypdf
openai
pinecone
langchain>=0.2.0
langchain-pinecone
langchain-openai
langchain-community
langchain-text-splitters
rank_bm25
flashrank
tiktoken
langsmith
pandas
plotly