python-dotenv==1.2.2
gradio==5.16.0
pypdf==6.10.2
openai==2.32.0
pinecone==7.3.0
langchain==0.3.28
langchain-pinecone==0.2.13
langchain-openai==0.3.35
langchain-community==0.3.31
langchain-text-splitters==0.3.11
rank-bm25==0.2.2
flashrank==0.2.10
tiktoken
langsmith
pandas==2.3.3
plotly==6.8.0
ragas==0.2.2
datasets==3.2.0
